@media (max-width: 400px) {
  div.note-card, .note-title {
    font-size: 14px;
    width: 50px;
    text-align: left;
    word-wrap: break-word;

    strong {
      text-overflow: ellipsis;
      width: 40px;
    }
  }

  .notes-list {
    left: 0;
    // top: 30;
    position: absolute;
    height: 300px;
    overflow-x: scroll;
    margin-top: 90px;
    width: 50px;
  }

  .folders-list {
    width: 40px;
    height: 150px;
    padding-bottom: 30px;
    border-bottom: 1px solid map-get($foundation-palette, secondary);
    overflow-x: scroll;
  }
}
