@media (max-width: 400px) {
  div.note-card, .note-title {
    font-size: 14px;
    width: 60px;
    text-align: left;
    word-wrap: break-word;

    strong {
      text-overflow: ellipsis;
      width: 40px;
    }
  }

  .small-2 {
    max-width: 26%;
  }

  .small-10 {
    max-width: 100%;
    margin-left: 10px;
  }

  .notes-list {
    left: 0;
    position: absolute;
    height: 400px;
    overflow-x: scroll;
    margin-top: 70px !important;
  }

  .folders-list {
    width: 40px;
    height: 150px;
    padding-bottom: 30px;
    border-bottom: 1px solid map-get($foundation-palette, secondary);
    overflow-x: scroll;
  }

  .note-form {
    max-width: 100%;
    flex: 0 0 100%;
    background: white;
  }

  .note-viewer {
    // display: none;
  }
}
