@import '../../node_modules/foundation-sites/scss/foundation';
@import 'settings';
@import 'includes';
@import 'checkboxes';

.folder-name {
  cursor: pointer;
}

.notes-list {
  margin-top: 20px;
}

.note-card {
  width: 150px;
}

.note-title {
  cursor: pointer;
}

.tiny.icon-button {
  font-size: 20px;
  padding: 6px;
}

.small.icon-button {
  font-size: 24px;
  padding: 8px;
}

#newnote {
  padding-top: 4px;
  margin-top: 10px;
}

#content {
  height: 300px;
}

.contains-task-list {
  list-style: none;
}

.note-title {
  display: inline-block;
}

.note-updatedat {
  margin-top: 27px;
}

.note-card {
  padding: 20px 5px;
  border-bottom: 1px dashed map-get($foundation-palette, secondary);
  cursor: pointer;

  &.active {
    background-color: map-get($foundation-palette, primary);
    color: white;
  }
}

#folder-form-wrapper {
  z-index: 30;
  width: 250px;
  overflow: scroll;
  border: 1px solid map-get($foundation-palette, secondary);
  padding: 8px;
  background: white;

  input {
    width: 190px;
    display: inline-block;
    margin-right: 10px;
  }

  button {
    margin-top: 20px;
  }

  .folder-name-edit {
    width: 233px;
    margin-bottom: 0;
  }

  .icon-button.edit {
    margin-top: 10px;
    margin-bottom: 0;
  }
}
